@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --gold1:#F39C12;
    --gold2:#F39C12 ;
    --gray:#00000080;
    --gray2:#f7d9d990;
    --black1: #1A1B1F;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding:100px 0;
    height: auto;
}

.container--modifier{
    width: 60%;
}

.hero{
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.hero img{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.nav__hero{
    color: #fff;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    background-color: #30353b93 ;
    z-index: 1;
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: inherit;
    padding: 0;
}

.logo__name{
    font-size: 24px;
}

.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}

.link--active{
    color: var(--gold1);
    font-weight: 700;
}

.point{
    color: var(--gold1);
}

.hero__main{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding:0;
}

.mockup{
    object-fit: cover;
    width: 48%;
    max-height: 90vh;
}

.hero__textos{
    width: 48%;
}

.title{
    font-size: 60px;
    font-weight: 300;
    color: #1A1B1F;
}

.title--active{
    color: var(--gold1);
    font-weight: 700;
}

.copy{
    font-size: 24px;
    color: var(--gray);
    text-shadow: var(--shadow)  var(--color_shadow);
    margin: 15px 0;
}

.copy__active{
    font-weight: 700;
}

.cta{
    width: 60%;
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, #f39d12a4 0%, #F39C12 100%);
    text-decoration: none;
    color: var(--black2);
    font-weight: 75%;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 10px;
    margin-left: 10rem;
}
.cta2{
    padding: 20px 30px;
    display: inline-block;
    background: #1A1B1F;
    text-decoration: none;
    color: #f7d9d990;
    font-weight: 100%;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 10px;
    margin: 50;
}

.comentario-form {
    width: 400px;
    height: 40vh;
    background:#1A1B1F;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border: 4px solid #F39C12;
    color: white;
    border-radius: 15px ;
}

.comentario-form h1{
    text-align: center;
    margin-bottom: 2rem;
}

.comentario-form input{
    color: #fff;
    font-size: 18px;
}

h4 {
    font-size: 23px;
    margin-bottom: 12px;
    margin-top: auto;
}

.controls{
    width: 100%;
    background: #30353B;
    padding: 8px;
    border-radius: 2px;
    margin-bottom: 14px;
    margin-left: -5px;
    border: 2px solid #F39C12;
    font-size: 15px;
}


.btn-save{
    width: 150px;
    background: #F39C12;
    border: none;
    border-radius: 5px;
    padding: 7px;
    color: #1A1B1F;
    margin: 14px 0;
    font-size: 16px;
    position: sticky;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
}


/* contac/**/ 
#contenedor1{
 width: 50%;
 height: 85%;
 background-color: #1A1B1F;
 border-radius: 20px;
 color: #fff;
 font-size: 24px;
 text-align: center;
 margin: 15px;
 position: absolute;
}


@media screen and (max-width:700px){
    main .container,
    footer .container{
        padding: 60px 0;
    }

    .nav__container{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav__hero{
        height: auto;
    }

    .logo{
        padding: 15px 0 ;
        text-align: center;
    }

    .links{
        padding-bottom: 10px;
        text-align: center;
    }

    .link{
        padding: 7px 10px;
    }


    .hero__main{
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: 70px;
        height: auto;
        padding: 30px 0;
        font-weight: 50px;
    }

    .hero__textos{
        width: 100%;
        text-align: center;
    }

    .mockup{
        width: 60%;
        margin-bottom: 20px;
    }

    .title{
        font-size: 35px;
    }

    .copy{
        font-size: 20px;
    }

    .subtitle{
        font-size: 35px;
        text-align: center;
    }

    .copy__section{
        font-size: 20px;
        text-align: center;
    }

    .services .card{
        width: 80%;
    }

    .container-bg{
        justify-content: space-evenly;
    }

    .card{
        margin-bottom: 40px;
        width: 65%;
    }

    .card__title{
        font-size: 35px;
    }

    .card__button{
        width: 100%;
    }

    .background{
        width: 65%;
        margin-bottom: 40px;
    }

    .background__copy{
        display: none;
    }

    .testimony__card{
        width: 65%;
    }

    .testimony__name{
        font-size: 20px;
    }

    .container--modifier{
        width: 80%;
    }

    .item__contact{
        width: 100%;
        padding: 30px 0;
    }
}

@media screen and (max-width:500px){
    .mockup{
        width: 80%;
        margin-bottom: 15px;
    }

    .services .card{
        width: 95%;
    }

    .card{
        width: 95%;
    }

    .background{
        width: 95%;
    }

    .testimony__card{
        width: 95%;
    }

    .testimony__history{
        font-size: 20px;
    }

    .container--modifier{
        width: 90%;
    }

    .newsletter{
        width: 100%;
        display: none;
    }

    .newsletter--modifier{
        display: block;
    }

    .check__item{
        width: 100%;
        border: none;
        padding: none;
        justify-content: center;
    }

    .download__item{
        width: 49%;
    }

    .download__title{
        font-size: 16px;
    }

    .download__logo{
        font-size: 30px;
    }
}